$color-primary: #7bc36c;
$color-primary-dark: #025e11;
$color-primary-light: #20b608;

$primary-font: "Lato", san-serif;
$secondary-font: "Kumbh Sans", san-serif;
$logo-font: "Reggae One", san-serif;

$lg-bp: 75em;
$md-bp: 59.375em;
$sm-bp: 50em;
$ssm-bp: 42.1875em;
