*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5% !important;

  @media only screen and (max-width: $lg-bp) {
    font-size: 50% !important;
  }
  @media only screen and (max-width: $sm-bp) {
    font-size: 37.5% !important;
  }
}
body {
  box-sizing: border-box;
  font-family: $primary-font !important;
  //   font-size: rem;
  line-height: 1.6 !important;
  font-weight: 400;
}

::selection {
  background-color: $color-primary;
  color: white;
}
